/* ===============================
   GLOBAL RESET
   Tujuan:
   - Menghilangkan margin & padding bawaan browser
   - Membuat ukuran elemen lebih mudah diprediksi
================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* =========================================
   RESPONSIVE DESIGN
   Target: Tablet & Mobile (<= 768px)
   Tujuan:
   - Konten tetap terbaca
   - Navbar tidak berantakan
========================================= */
@media (max-width: 768px){
    /* CSS khusus layar kecil */
}

/* ===============================
   BODY
   Tujuan:
   - Mengatur font global
   - Memberi jarak dari tepi layar
================================ */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
}  
header h1 {
    margin-bottom: 5%;
}
header p {
    color: #666;
    margin-bottom: 10px;
}
/* Navigation  */
nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
nav a:hover {
    background-color: #e6f2ff; /* background muncul*/
    color: #0077cc; /* warna teks berubah */
}
/*Main content */

main {
    max-width: 800px;
    margin:auto;
    background-color: #ffffff;
    padding: 20px;
}
section {
    margin-bottom: 25px;
}

section h2 {
    color: #222;
    margin-bottom: 10px;
}
/* Articles */
article {
    margin-bottom: 20px;
}
/* form */
form div {
    margin-bottom: 15px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top:5px;
}
button {
    padding: 10px 15px;
    background-color:#0077cc;
    color:#fff;
    cursor:pointer;
    border:none;

}

button:hover {
    background-color:#005fa3;
}

/* footer */
footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
}